*,
*::before,
*::after {
  margin: 0;
}

:root {
  --square-width: 4rem;
  --gap-width: 1rem;
  --green: #6aaa64;
  --yellow: #c9b458;
  --white: #ffffff;
  --grey: #86888a;
  --black: #212121;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-bottom: 1rem;
}

.tagline {
  margin-bottom: 3rem;
}

.grid {
  width: calc(6 * var(--square-width) + 5 * var(--gap-width));
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, var(--square-width));
  grid-template-rows: var(--square-width);
  grid-gap: var(--gap-width);
}

.square {
  border: 1px solid var(--black);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
}

.square.correct {
  background-color: var(--green);
  border: 1px solid var(--green);
}

.square.present {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.square.incorrect {
  background-color: var(--grey);
  border: 1px solid var(--grey);
}

.square.correct,
.square.present,
.square.incorrect {
  color: var(--white);
}
